
body {
    background-image: url(./assets/img/nima-motaghian-nejad-CdMlh9z906E-unsplash.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

.Titel {
    text-align: center;
    padding: 3%;
    color: rgb(255, 255, 255);
    font-size: 36px;
}

.NewsCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    color: rgb(255, 255, 255)

}

img {
    max-width: 100%;
    border-radius: 10px;
}

p{
    background-color: transparent;
}

